html 
{
	height: 100%; 
	margin: 0;
	padding: 0;
}
  
body
{
	color: #575757;
    font-family: "Raleway",sans-serif;
	height: 100%; 
	margin: 0px; 
	padding: 0px 
}

header {
    box-shadow: 0 0 12px 2px rgba(50, 50, 50, 0.9);
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 4;
    width: 100%;
    background-color: white;
}

.title {
    display: inline-block;
    float: left;
    font-size: 24px;
    font-weight: 500;
    margin: 0 auto;
    vertical-align: middle;
}
.title * {
    color: #575757;
    vertical-align: middle;
}

.theme-background {
    background-color: rgba(255, 255, 255, 1);
}

.nav-constrained {
    margin: auto;
    padding: 0 2em;
}
.nav-constrained::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}

.nav-right {
    float: right;
    margin-top: 20px;
}

a {
    color: rgb(72, 190, 226);
    text-decoration: none;
    transition: color 0.3s linear 0s;
}
a:link, a:active, a:visited {
    color: rgb(72, 190, 226);
}
a:hover {
    color: rgb(169, 227, 236);
}

.logo {   
    vertical-align: middle;
    width: 46px;
}

.nav {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    display: inline-block;
    height: 100%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
}
.nav > li.is-open {
    background-color: #e8e8e8;
    cursor: default;
}
.nav > li + li {
    border-left: 1px solid #e8e8e8;
}
.nav > li {
    cursor: pointer;
    display: inline-block;
    line-height: 38px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background-color 0.15s linear 0s, color 0.15s linear 0s;
    vertical-align: middle;
    width: 100px;
}
.nav .button, input {
    background-color: #ffffff;
    border: medium none;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 0.4em;
    padding: 0.3em 0.4em;
}
.nav > li:hover {
    background-color: #e8e8e8;
}

#thick {
    color: rgb(72, 190, 226);
}
#thin {
    font-weight: 100;
}
:-moz-placeholder {
    color: #c3c3c3;
    opacity: 1;
}
*::-moz-placeholder {
    color: #c3c3c3;
    opacity: 1;
}

.button {
    height: 12px;
}
.button {
    color: #ffffff;
    display: inline;
}
.button:hover {
    cursor: pointer;
    opacity: 0.5;
}

#article-close, #about-close {
    float: right;
}
#article-image {
    float: left;
    margin-right: 10px;
    width: 200px;
}
#article-summary {
    display: block;
    font-size: 14px;
}
#article {
    font-family: Play,sans-serif;   
    margin-top: -10px; 
    padding: 18px;
}

#article-title
{
	font-size: 18px;
	color: #15c;
}

a#article-title:hover
{
	text-decoration: underline;
}

.article-details-small
{
	font-size: 10px;
	color: #999;
}
.article-sentiment > a
{
	float: right;
	font-size: 12px;
	color: #999;
	padding: 5px;
}
.article-sentiment > a:hover {
    text-decoration: underline;
}

#share-bar{
	float:right;
	height:20px;
	margin-right: 10px;
    margin-top: -7px;
}

#cluster-link {	
	clear:both;
    float: left;
    margin-top: 20px;
}

.article-keywords
{
	clear:both;
	float: left;
	font-size: 12px;
	color: #999;
	margin-top: 5px;
}

svg:not(:root) {
    overflow: hidden;
}
.sidebar-select
{
	border: 1px solid #e8e8e8;
    display: inline-block;
    height: 100%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}

.sidebar-select > li + li {
    border: 1px solid #e8e8e8;
}
.sidebar-select > li {
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background-color 0.15s linear 0s, color 0.15s linear 0s;
    vertical-align: middle;
    width: 100%;
}
.sidebar-select > li:hover {
    background-color: #e8e8e8;
}
.select-search
{
	width: 95%;
	border: 1px solid #ccc;
	text-overflow: ellipsis;
	margin-bottom: 10px;
	margin-top: 10px;
}

.sidebar-select-sentiment
{
	border: 1px solid #e8e8e8;
    display: inline-block;
    height: 100%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}

.sidebar-select-sentiment > li + li {
    border-left: 1px solid #e8e8e8;
}
.sidebar-select-sentiment > li {
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background-color 0.15s linear 0s, color 0.15s linear 0s;
    vertical-align: middle;
    width: 33%;
    margin: 0 -4px 0 0;
}
.sidebar-select-sentiment > li:hover {
    background-color: #e8e8e8;
}

.sidebar-select-date
{
	border: 1px solid #e8e8e8;
    display: inline-block;
    height: 100%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}

.sidebar-select-date > li + li {
    border-left: 1px solid #e8e8e8;
}
.sidebar-select-date > li {
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background-color 0.15s linear 0s, color 0.15s linear 0s;
    vertical-align: middle;
    width: 25%;
    margin: 0 -4px 0 0;
}
.sidebar-select-date > li:hover {
    background-color: #e8e8e8;
}
#dateRangeDiv
{
	margin-top: 15px;
}

#categoryDiv
{
	margin-top: 10px;
}

.active {
    background-color: #e8e8e8;
}
#displayGradient {
	float: right;
    width: 138px;
    height: 10px;
    margin-right: -1px;
    background: -webkit-linear-gradient(left, rgba(0, 0, 255, 1),rgba(0, 25, 255, 1),rgba(0, 50, 255, 1),rgba(0, 75, 255, 1),rgba(0, 100, 255, 1),rgba(0, 110, 255, 1),rgba(0, 125, 191, 1),rgba(0, 145, 223, 1), rgba(0, 160, 255, 1),rgba(0, 175, 255, 1),rgba(0, 200, 255, 1), rgba(0, 225, 255, 1),rgba(0, 255, 255, 1), rgba(0, 255, 255, 0),rgba(255, 255, 0, 0), rgba(255, 255, 0, 1), rgba(255, 225, 0, 1), rgba(255, 200, 0, 1), rgba(255, 175, 0, 1), rgba(255, 160, 0, 1), rgba(255, 145, 0, 1), rgba(255, 125, 0, 1), rgba(255, 110, 0, 1), rgba(255, 100, 0, 1), rgba(255, 75, 0, 1), rgba(255, 50, 0, 1), rgba(255, 25, 0, 1), rgba(255, 0, 0, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(0, 0, 255, 1),rgba(0, 25, 255, 1),rgba(0, 50, 255, 1),rgba(0, 75, 255, 1),rgba(0, 100, 255, 1),rgba(0, 110, 255, 1),rgba(0, 125, 191, 1),rgba(0, 145, 223, 1), rgba(0, 160, 255, 1),rgba(0, 175, 255, 1),rgba(0, 200, 255, 1), rgba(0, 225, 255, 1),rgba(0, 255, 255, 1), rgba(0, 255, 255, 0), rgba(255, 255, 0, 0), rgba(255, 255, 0, 1), rgba(255, 225, 0, 1), rgba(255, 200, 0, 1), rgba(255, 175, 0, 1), rgba(255, 160, 0, 1), rgba(255, 145, 0, 1), rgba(255, 125, 0, 1), rgba(255, 110, 0, 1), rgba(255, 100, 0, 1), rgba(255, 75, 0, 1), rgba(255, 50, 0, 1), rgba(255, 25, 0, 1), rgba(255, 0, 0, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(0, 0, 255, 1),rgba(0, 25, 255, 1),rgba(0, 50, 255, 1),rgba(0, 75, 255, 1),rgba(0, 100, 255, 1),rgba(0, 110, 255, 1),rgba(0, 125, 191, 1),rgba(0, 145, 223, 1), rgba(0, 160, 255, 1),rgba(0, 175, 255, 1),rgba(0, 200, 255, 1), rgba(0, 225, 255, 1),rgba(0, 255, 255, 1), rgba(0, 255, 255, 0),rgba(255, 255, 0, 0), rgba(255, 255, 0, 1), rgba(255, 225, 0, 1), rgba(255, 200, 0, 1), rgba(255, 175, 0, 1), rgba(255, 160, 0, 1), rgba(255, 145, 0, 1), rgba(255, 125, 0, 1), rgba(255, 110, 0, 1), rgba(255, 100, 0, 1), rgba(255, 75, 0, 1), rgba(255, 50, 0, 1), rgba(255, 25, 0, 1), rgba(255, 0, 0, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(0, 0, 255, 1),rgba(0, 25, 255, 1),rgba(0, 50, 255, 1),rgba(0, 75, 255, 1),rgba(0, 100, 255, 1),rgba(0, 110, 255, 1),rgba(0, 125, 191, 1),rgba(0, 145, 223, 1), rgba(0, 160, 255, 1),rgba(0, 175, 255, 1),rgba(0, 200, 255, 1), rgba(0, 225, 255, 1),rgba(0, 255, 255, 1), rgba(0, 255, 255, 0), rgba(255, 255, 0, 0), rgba(255, 255, 0, 1), rgba(255, 225, 0, 1), rgba(255, 200, 0, 1), rgba(255, 175, 0, 1), rgba(255, 160, 0, 1), rgba(255, 145, 0, 1), rgba(255, 125, 0, 1), rgba(255, 110, 0, 1), rgba(255, 100, 0, 1), rgba(255, 75, 0, 1), rgba(255, 50, 0, 1), rgba(255, 25, 0, 1), rgba(255, 0, 0, 1)); /* Standard syntax (must be last) */
}



.main-content
{
	margin-top:35px;
}

#now-feed
{
	display: none;
}

.news-feed-item::before {
    background: none repeat scroll 0 0 #ddd;
    content: "";
    display: block;
    height: 1px;
    left: 18px;
    position: absolute;
    right: 18px;
    top: 0;
}

.news-feed-item::after {
    clear: both;
}

.news-feed-item {
    background-color: #fff;
}
.news-feed-item {
    background: none repeat scroll 0 0 #fff;
    clear: both;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#pain-main
{
	background: none repeat scroll 0 0 #eee;
}
.favfeed_item
{
	background: none repeat scroll 0 0 #fff;
	font-size: 14px;
    padding: 5px;
}
#favfeed .feed-title {
    color: #666;
    font-family: "BentonSansMedium",Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 20px 0 3px;
    position: relative;
}
}